.btn {
 
    background:white;
    border: none;
    font-size:2vw;

    text-align: center;
    font-family:fantasy;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
 
   }
   
   .btn :hover {
    color:white;
   }
   
   .btn:after {
    content: "";
    background: #F7931E;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }