<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="../static/css/button.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <head>
    {% load static %}
    <title>Prediction form</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
    <div id="root">
      <div id="header">
        <div id="btnDiv">
          <!-- <button class="back-btn"><i class="fas fa-arrow-left"></i></button> -->
          <a href="{%url 'home'%}"><i class="fas fa-arrow-left"></i></a>
        </div>
        <div id="headerDiv">
          <img src="{% static '/image/LogoBlack.png' %}" alt="Image description" id="logo">
          <h1 style="line-height: 40px;">Currency Recognition and  Fake Currency Detection</h1>
        </div>
      </div>
      <div id="content">
        <div id="innerDiv">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <label for="image">Upload an image</label><br>
            <input
             style="
             margin-right: 20px;
              border: none;
              background:#F7931E;
              padding: 10px 20px;
              border-radius: 10px;
              color: #fff;
              cursor: pointer;
              transition: background .2s ease-in-out;"
             type="file" name="image" accept="image/*" required value="Select Image">
            <br/><br/>

            <button 
            type="submit" 
            class="btn"
            style="width:7rem;  height:2.3rem; 
             background-color: #d4c6c6;">
            <p 
            class="textbtn"
            style="
            position: relative;
            font-size: large;
            bottom:35%;
            font-family: fantasy;
            text-align:center;">Predict</p>

            </button>
            <br/>
            <p style="font-family:fantasy; font-weight: 300;">Result: {{ prediction }}</p>
            <p>OR</p>
          </form>
          <br/>
          <i class="fa fa-camera fa-2x" style="color: #F7931E;"></i>
          <br/>
          <!-- <button onclick="navigateToPage2()">Open camera to predict</button> -->

          <button 
            onclick="navigateToPage2()"
            type="submit" 
            class="btn"
            style="width:13rem;  height:2.3rem; 
            background-color: #d4c6c6;   
            font-size:5px;">
            <p 
            class="textbtn"
            style="
            position: relative;
            bottom:25%;
            font-size:medium;
            font-family: fantasy;
            text-align:center;">Open camera to predict</p>

        </div>
      </div>
      <footer>
        <center>
          <p>Copyright &copy; 2023</p>
        </center>
      </footer>
  </div>
  <script>
    function navigateToPage2() {
      window.location.href = "{% url 'classify' %}";
    }
  </script>
  </body>
</html>
